$firm: #21062A;
$accent: #5A0D67;
$grey: #C4C4C4;
$black: #2C2B2B;

%Oswald-300{
  font-family: 'Oswald-Light', sans-serif;
  font-weight: 300;
}
%Oswald-400{
  font-family: 'Oswald-Regular', sans-serif;
  font-weight: 400;
}